
#datasection{
    width: fit-content;
    border: 1.5px solid #a9a9a973;
    height: fit-content;
    display: grid;
    grid-template-columns: 330px;
    grid-template-rows: 300px 50px 1fr repeat(7,33px) 1fr;
    grid-template-areas: 
    'detailimage'
    'detailtitle'
    'detailoverview'
    'detailtype'
    'detailcountry'
    'detailgenres'
    'detailreleasedate'
    'detailduration'
    'detailproducers'
    'detaildirectors'
    'detailratings'
    ;
    align-items: center;
    }
    #datasection>div:not(#detailimage){
        padding: 10px;
        }
        #detailimage{
        grid-area: detailimage;
        height: 100%;
        }    
        #detailtitle  {
        grid-area: detailtitle;
        
        }  
        #detailoverview {
        grid-area: detailoverview;
        
        }
        #detailtype {
        grid-area: detailtype;
        }
        #detailcountry  {
        grid-area:detailcountry ;
        } 
        #detailgenres{
            grid-area: detailgenres;
            display: flex;
            }
        #detailgenres>span  {
        display: flex;
        gap:5px;
        }
        #detailreleasedate{
        grid-area:detailreleasedate ;
        }
        #detailduration {
        grid-area: detailduration;
        }
        #detailproducers {
        grid-area:detailproducers ;
        }
        #detaildirectors {
        grid-area:detaildirectors ;
        }
        #detailratings{
        grid-area: detailratings;
        align-self: baseline;
        }  
        span{
            color:#6b69b9;
        }

        @media screen and (max-width:750px) {
   #datasection{
width: 100%;   
}
}


@media screen and (max-width: 850px) {
    #titleofherobanner>h3{
        display: -webkit-box;
        overflow: hidden;
        -webkit-line-clamp:1;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
    }
   
}